body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Game {
  text-align: center;
}

.Game-logo {
  animation: Game-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Game-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game-link {
  color: #61dafb;
}

@keyframes Game-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font: 14px "Optima", Futura, sans-serif;
  margin: 20px;
}

/* ol, ul {
  padding-left: 30px;
} */

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  overflow: hidden;
}

.gamesquare:focus {
  outline: none;
}

.kbd-navigation .gamesquare:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  position: absolute;
}


.game-info {
  margin-left: 20px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gamesquare
{
  display: block;
	border: none;
	width: 100%;
	height: 100%;
	background: transparent;
	color: #33cccc;
	cursor: pointer;

}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}


.game-board
{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;

	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box
{
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
